<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="/">MongoDB admin panel</a>
    
    <ul class="navbar-nav mr-auto">


        <li class="nav-item">
            <a class="nav-link test-data" href="/add-test-data"><i class="fa-solid fa-circle-plus"></i> Add test data</a>
        </li> 

        <li class="nav-item">
            <a class="nav-link test-data" href="/delete-test-data"><i class="fa-solid fa-trash-can"></i> Delete test data</a>
        </li> 

        <li class="nav-item">
            <a class="nav-link" href="/collections">Collections</a>
        </li> 

        <li class="nav-item">
            <a class="nav-link" href="/artists">Artists</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/albums">Albums</a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/tracks">Tracks</a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/playlists">Playlists</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/mega">mega</a>
        </li>


    </ul>

  </nav>