
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>

<body>

    <header>
        <%- include('partials/header'); %>
    </header>



    <div class="content">


        <ol class="breadcrumb">
            <li><a href="/collections">Collections</a></li> / 
            <li><a href="/playlists">Playlists</a></li> /
            <li class="active"><a href="/add-playlist">Add playlist</a></li>
        </ol>


        <h1>Add playlist</h1>


        <form action="/submit-playlist" method="post">

            <label>Name:</label> 
            <input name="name" type="text" value =""/>
            <br>

            <label>Description:</label> 
            <input name="desc" type="text" value =""/> <i>(optional)</i>
            <br>

            <label>Image:</label> 
            <input name="image" type="text" value =""/> <i>(url, optional)</i>
            <br>

            <label>Image small:</label> 
            <input name="imageSmall" type="text" value =""/> <i>(url, optional)</i>
            <br>


            <!--<span class="item-key">Artist:</span> <input name="artist" type="text" value =""/> <br>-->


 
            
            <div class="edit-buttons">
                <input type="submit" value="Add new document" class="btn btn-primary"/>
               
      
            </div>
            
    
        </form>
    
    
    
    </div>
    



</body>

</html>
