
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>

<body>

    <header>
        <%- include('partials/header'); %>
    </header>



    <div class="content">


        <ol class="breadcrumb">
            <li><a href="/collections">Collections</a></li> / 
            <li><a href="/artists">Artists</a></li> /
            <li class="active"><a href="/add-artist">Add artist</a></li>
        </ol>


        <h1>Add artist</h1>


        <form action="/submit-artist" method="post">

            <label>Name:</label> 
            <input name="name" type="text" value =""/>   
            <br>

            <label>Country:</label> 
            <input name="country" type="text" value =""/> <i>(optional)</i>
            <br>

            
            <div class="edit-buttons">
                <input type="submit" value="Add new document" class="btn btn-primary"/>
               
      
            </div>
            
    
        </form>
    
    
    
    </div>
    




</body>

</html>
