<html lang="en">
<head>
    <%- include('partials/head'); %>

</head>

<body>

    <header>
        <%- include('partials/header'); %>
    </header>


    <div id="app-container">
        
        <%- include('partials/mega/left-side'); %>
        <%- include('partials/mega/right-side'); %>

    </div>

    <script src="/js/mega.js"></script>
    <script src="/js/kebab.js"></script>
    <script src="/js/drag-n-drop.js"></script>
    <script src="/js/search.js"></script>
    
</body>

</html>
