<div id="right" class="side">



    <div class="header">
      
        <div class="title"></div>
        <div class="track-amount"></div>
        <br>

        <div id="search-container" style="display: inline-flex;">
            <input type="text" id="search" onkeyup="searchFromTracklist()" placeholder="Search...">
            
            <div id="clear-search" onclick="clearSearchBar()">
                <i class="fa-solid fa-circle-xmark" aria-hidden="true"></i>
            </div>
    
        
        </div>

        <div class="labels">
            <div class="cell">Artist</div>
            <div class="cell">Track</div>
            <div class="cell">Album</div>
            <div class="cell">menu</div>
        </div>
     
    </div>

    <div id="tracklist">
        

    </div>


    
    
</div>